# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Metro
.metro-health-check*

# Android
android/build/
android/app/build/
android/.gradle/
android/local.properties

# iOS
ios/build/
ios/Pods/
ios/**/*.xcuserstate
ios/**/*.xcuserdata/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
.DS_Store

# Logs
*.log

# TypeScript
*.tsbuildinfo

# EAS
.eas/
eas-build-local-logs/