rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    allow read, write: if false;

    match /pushTokens/{deviceId} {
      allow read, write: if request.auth != null
                          && request.auth.uid == deviceId
                          && request.resource.data.keys().hasOnly(['token', 'platform', 'createdAt', 'updatedAt'])
                          && request.resource.data.token is string;
    }

    match /config/{doc} {
      allow read: if true;
      allow write: if false;
    }
  }
}